/*
 * Globals
 */

/* Links */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: white;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: transparent;
    border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background: url(galeri/Desktop_Wallpaper.png);
    background-color: #333;
    font-family: "poppins";
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

p {
    font-size: 13px;
}

.cover-container {
    max-width: 100%;
    background-color: transparent;
}

.req-container {
    max-width: 100%;
    background-color: pink;
    border-radius: 100%;
    margin-bottom: 10cm;
    text-align: center;
    box-shadow: 0px 10px 20px -10px rgba(255, 1, 1, 0.5);
    
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand img {
    height: 100px;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-link.beranda {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.nav-link.spek {
    padding: 0.25rem 0;
    margin-left: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.nav-link.kontak {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.nav-link.beranda:hover,
.nav-link.beranda:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-link.spek:hover,
.nav-link.spek:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-link.kontak:hover,
.nav-link.kontak:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.btnspek:hover,
.btnspek:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link {
    margin-left: 50px;
}

.nav-masthead .active {
    color: #eb919b;
    border-bottom-color: #eb919b;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover-heading {
    float: center;
    color: #eb919b;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    letter-spacing: 0mm;
    font-weight: bold;
}

.lead {
    float:right;
    text-align: right;
    font-family: poppins, sans-serif;
    font-size: 20px;
    margin-right: 15cm;
}

.cover .btn-lg {
    padding: 0.75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, 0.5);
}